*{
    margin: 0px;
    padding: 0px;
    


}
body{
    background-color: rgb(26, 31, 54);
}

.contianer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 44vh;
    width: 100vw;
    /* color: white; */
    font-size: 2rem;
    

}
h1{
    background: linear-gradient(to right, #30CFD0 0% ,#ec8110 100%);
    background-clip: text;
    color: transparent;
    animation: floath1 3s linear 3s 1 alternate forwards;
opacity: 0;
}
@keyframes  floath1 {
    0%{transform:translateY(30vh) ;
        
    }
    100%{transform: translateY(0vh) ;
        opacity: 1;
    }
}

 
#move2{
    padding-left: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 31vh;
    width: 100vw;
    overflow: hidden;
    flex-grow: inherit;


}

.Year{
    font-size: 140px;
    
    height: 31vh;
    width: 9vw;
}
#n2{
    color: pink;
    

}
#n0{
    color: #30CFD0;
    

}
#m2{
    color: antiquewhite;
    

}
#n3{
    color: orange;
    
    animation: float3 2s linear 1s 1 alternate-reverse forwards;

}
@keyframes  float3 {
    0%{transform:translateY(100vh) ;
        display: none;
    }
    100%{transform: translateY(0) ;
    }
    
}
#n4{ color: orange;
    
    animation: float 3s linear 0s 1 alternate forwards;

}
@keyframes  float {
    0%{transform:translateX(100vh) ;

        
        
    }
    
    100%{transform: translateX(0) ;
        opacity: 1;
        
    }
    
}
#move{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
   animation: text1 6s steps(54) 1s 1  alternate none;
   background: linear-gradient(to right, #94f798 0% ,#3642f0 100%);
   background-clip: text;
   color: transparent;
   font-size: 30px;
}
@keyframes text1 {
    0%{width: 0vw;}
    100%{width: 100vw;}
    
}
@media(max-width:470px){
 
    
.contianer{font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25vh;
    width: 100vw;
}

 .Year{
    font-size: 30px;
    height: 10vh;
    width: 10vw;
    text-align: center;

 }
 #move2{
    padding-left: 0px;
    height:25vh ;
 }
 #n4{ color: orange;
    
    animation: float 3.5s linear 0s 1 alternate forwards;

}
@keyframes  float {
    0%{transform:translateX(100vh) ;

        
        
    }
    
    100%{transform: translateX(0) ;
        opacity: 1;
        
    }}
    #n3{
        color: orange;
        
        animation: float3 2s linear 1s 1 alternate-reverse forwards;
    
    }
    @keyframes  float3 {
        0%{transform:translateY(100vh) ;
            display: none;
        }
        100%{transform: translateY(0) ;
        }
        
    }
    h1{
        background: linear-gradient(to right, #30CFD0 0% ,#ec8110 100%);
        background-clip: text;
        color: transparent;
        animation: floath1 3s linear 4s 1 alternate forwards;
    opacity: 0;
    }
    @keyframes  floath1 {
        0%{transform:translateY(30vh) ;
            
        }
        100%{transform: translateY(0vh) ;
            opacity: 1;
        }
    } 
    #move{
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
       animation: text1 6s steps(54) 1s 1  alternate none;
       background: linear-gradient(to right, #d8eaea 0% ,#36e1f0 100%);
       background-clip: text;
       color: transparent;
    }
    @keyframes text1 {
        0%{width: 0vw;}
        100%{width: 100vw;}
        
    }
}