

*{
    margin: 0px;
    padding: 0px;
    


}
body{
    background-color: rgb(26, 31, 54);
}

.contianer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 44vh;
    width: 100vw;
    /* color: white; */
    font-size: 2rem;
    

}
h1{
    background: -webkit-gradient(linear, left top, right top, from(#30CFD0) ,to(#ec8110));
    background: -o-linear-gradient(left, #30CFD0 0% ,#ec8110 100%);
    background: linear-gradient(to right, #30CFD0 0% ,#ec8110 100%);
    -webkit-background-clip: text;
            background-clip: text;
    color: transparent;
    -webkit-animation: floath1 3s linear 3s 1 alternate forwards;
            animation: floath1 3s linear 3s 1 alternate forwards;
opacity: 0;
}
@-webkit-keyframes  floath1 {
    0%{-webkit-transform:translateY(30vh) ;transform:translateY(30vh) ;
        
    }
    100%{-webkit-transform: translateY(0vh) ;transform: translateY(0vh) ;
        opacity: 1;
    }
}
@keyframes  floath1 {
    0%{-webkit-transform:translateY(30vh) ;transform:translateY(30vh) ;
        
    }
    100%{-webkit-transform: translateY(0vh) ;transform: translateY(0vh) ;
        opacity: 1;
    }
}

 
#move2{
    padding-left: 46px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 31vh;
    width: 100vw;
    overflow: hidden;
    -webkit-box-flex: inherit;
        -ms-flex-positive: inherit;
            flex-grow: inherit;


}

.Year{
    font-size: 140px;
    
    height: 31vh;
    width: 9vw;
}
#n2{
    color: pink;
    

}
#n0{
    color: #30CFD0;
    

}
#m2{
    color: antiquewhite;
    

}
#n3{
    color: orange;
    
    animation: float3 2s linear 1s 1 alternate-reverse forwards;

}
@-webkit-keyframes  float3 {
    0%{-webkit-transform:translateY(100vh) ;transform:translateY(100vh) ;
        display: none;
    }
    100%{-webkit-transform: translateY(0) ;transform: translateY(0) ;
    }
    
}
@keyframes  float3 {
    0%{-webkit-transform:translateY(100vh) ;transform:translateY(100vh) ;
        display: none;
    }
    100%{-webkit-transform: translateY(0) ;transform: translateY(0) ;
    }
    
}
#n4{ color: orange;
    
    -webkit-animation: float 3s linear 0s 1 alternate forwards;
    
            animation: float 3s linear 0s 1 alternate forwards;

}
@-webkit-keyframes  float {
    0%{-webkit-transform:translateX(100vh) ;transform:translateX(100vh) ;

        
        
    }
    
    100%{-webkit-transform: translateX(0) ;transform: translateX(0) ;
        opacity: 1;
        
    }
    
}
@keyframes  float {
    0%{-webkit-transform:translateX(100vh) ;transform:translateX(100vh) ;

        
        
    }
    
    100%{-webkit-transform: translateX(0) ;transform: translateX(0) ;
        opacity: 1;
        
    }
    
}
#move{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
   -webkit-animation: text1 6s steps(54) 1s 1  alternate none;
           animation: text1 6s steps(54) 1s 1  alternate none;
   background: -webkit-gradient(linear, left top, right top, from(#94f798) ,to(#3642f0));
   background: -o-linear-gradient(left, #94f798 0% ,#3642f0 100%);
   background: linear-gradient(to right, #94f798 0% ,#3642f0 100%);
   -webkit-background-clip: text;
           background-clip: text;
   color: transparent;
   font-size: 30px;
}
@-webkit-keyframes text1 {
    0%{width: 0vw;}
    100%{width: 100vw;}
    
}
@keyframes text1 {
    0%{width: 0vw;}
    100%{width: 100vw;}
    
}
@media(max-width:470px){
 
    
.contianer{font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 25vh;
    width: 100vw;
}

 .Year{
    font-size: 30px;
    height: 10vh;
    width: 10vw;
    text-align: center;

 }
 #move2{
    padding-left: 0px;
    height:25vh ;
 }
 #n4{ color: orange;
    
    -webkit-animation: float 3.5s linear 0s 1 alternate forwards;
    
            animation: float 3.5s linear 0s 1 alternate forwards;

}
@-webkit-keyframes  float {
    0%{-webkit-transform:translateX(100vh) ;transform:translateX(100vh) ;

        
        
    }
    
    100%{-webkit-transform: translateX(0) ;transform: translateX(0) ;
        opacity: 1;
        
    }}
@keyframes  float {
    0%{-webkit-transform:translateX(100vh) ;transform:translateX(100vh) ;

        
        
    }
    
    100%{-webkit-transform: translateX(0) ;transform: translateX(0) ;
        opacity: 1;
        
    }}
    #n3{
        color: orange;
        
        animation: float3 2s linear 1s 1 alternate-reverse forwards;
    
    }
    @-webkit-keyframes  float3 {
        0%{-webkit-transform:translateY(100vh) ;transform:translateY(100vh) ;
            display: none;
        }
        100%{-webkit-transform: translateY(0) ;transform: translateY(0) ;
        }
        
    }
    @keyframes  float3 {
        0%{-webkit-transform:translateY(100vh) ;transform:translateY(100vh) ;
            display: none;
        }
        100%{-webkit-transform: translateY(0) ;transform: translateY(0) ;
        }
        
    }
    h1{
        background: -webkit-gradient(linear, left top, right top, from(#30CFD0) ,to(#ec8110));
        background: -o-linear-gradient(left, #30CFD0 0% ,#ec8110 100%);
        background: linear-gradient(to right, #30CFD0 0% ,#ec8110 100%);
        -webkit-background-clip: text;
                background-clip: text;
        color: transparent;
        -webkit-animation: floath1 3s linear 4s 1 alternate forwards;
                animation: floath1 3s linear 4s 1 alternate forwards;
    opacity: 0;
    }
    @-webkit-keyframes  floath1 {
        0%{-webkit-transform:translateY(30vh) ;transform:translateY(30vh) ;
            
        }
        100%{-webkit-transform: translateY(0vh) ;transform: translateY(0vh) ;
            opacity: 1;
        }
    }
    @keyframes  floath1 {
        0%{-webkit-transform:translateY(30vh) ;transform:translateY(30vh) ;
            
        }
        100%{-webkit-transform: translateY(0vh) ;transform: translateY(0vh) ;
            opacity: 1;
        }
    } 
    #move{
        text-align: center;
        overflow: hidden;
        white-space: nowrap;
       -webkit-animation: text1 6s steps(54) 1s 1  alternate none;
               animation: text1 6s steps(54) 1s 1  alternate none;
       background: -webkit-gradient(linear, left top, right top, from(#d8eaea) ,to(#36e1f0));
       background: -o-linear-gradient(left, #d8eaea 0% ,#36e1f0 100%);
       background: linear-gradient(to right, #d8eaea 0% ,#36e1f0 100%);
       -webkit-background-clip: text;
               background-clip: text;
       color: transparent;
       font-size: 8px;
    }
    @-webkit-keyframes text1 {
        0%{width: 0vw;}
        100%{width: 100vw;}
        
    }
    @keyframes text1 {
        0%{width: 0vw;}
        100%{width: 100vw;}
        
    }
}

